.card-columns{
width:25%;
}
.pro{
margin:216px;
}
.first{
margin:15px;
}
.second_box {
 margin: auto;
    padding: 10px;
    text-align: left;
    width: 73%;
    font-size: 75%;
    border-radius: 5px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 8%), 0 4px 15px 0 rgb(0 0 0 / 11%);
}
.a {
  text-decoration: none;
  color: #FF0800;
}
.third_box{
  margin: auto;
  padding: 10px;
  text-align: left;
  width:73%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 8%), 0 4px 15px 0 rgb(0 0 0 / 11%);
}
.pros{
float:left;
font-size:75%;
}
.button {
  background-color: #3a66d8;
  border: none;
  color: white;
  padding: 1px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 6px;
  float:right;
  padding: 2px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td{
border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 305px;
}
th {
  border: 1px solid ##f5f5fa;
  text-align: left;
  padding: 8px;
}
th:nth-child(odd) {
  background-color: #f5f5fa;
}
th:nth-child(even) {
  background-color: #f5f5fa;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
.colo{
 float:right;
  font-size: 12px;
}
.b {
  text-decoration: none;
  color: #5072A7;
}

.button-a {
  background-color: #3a66d8;
  border: none;
  color: white;
  padding: 1px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 12px;
  float:right;
  padding: 2px 10px;
}
.pic{
 float:left;
}

.rcorner1 {
  border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 160px;
    text-align: center;
    font-size: 14px;
}
.color-div {
width: 7px;
}
.white-text {
color: #fff;
}
.blue01 {
background: #d9f7ff;
}
.blue03 {
background: #7be4ff;
}
.red01 {
background: #ffaaa4;
}
.red03 {
background: #ff9f99;
}
.yellow01 {
background: #fdf6d2;
}
.yellow02 {
background: #fdecaa;
}
.violet01 {
background: #d6c4ff;
}
.violet02 {
background: #c5abff;
}
.blue02 {
background: #697de4;
}
.red02 {
background: #eb2c58;
}
.green02 {
background: #00bc95;
}
.custom-column {
padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 10px;
}
.task1{
float:left;
 font-size: 14px;
  padding: 0px;
      display: flex;
    flex-direction: row;
}
.task2{
float:left;
 font-size: 14px;
  padding: 14px;
}
.task3{
float:left;
 font-size: 14px;
  padding: 14px;
}
.task4{
float:left;
 font-size: 14px;
  padding: 14px;
}
